name: "Build & Release"

on:
  workflow_dispatch:
    branches: main
    

jobs:
    build:
        name: Build & Release
        runs-on: windows-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup-Java
              uses: actions/setup-java@v3.12.0
              with:
                distribution: 'oracle'
                java-version: '17'
                
            - name: Clone Repository
              run: git clone https://${{secrets.SECRET_KEY}}@github.com/punisher-303/DoodleMoviesApp.git

            - name: Install Dependencies
              run: |
                cd DoodleMoviesApp
                npm install
                npm install patch-package postinstall-postinstall

            - name: Patch expo-modules-core (Fix Kotlin Error)
              run: |
                cd DoodleMoviesApp
                $filePath = "node_modules/expo-modules-core/android/src/main/java/expo/modules/adapters/react/permissions/PermissionsService.kt"
                $tempFile = "PermissionsService_temp.kt"
                (Get-Content $filePath) -replace 'val permissions = permissionsList.toTypedArray\(\)', 'val permissions = permissionsList?.toTypedArray() ?: emptyArray<String>()' | Out-File -FilePath $tempFile
                Remove-Item -Path $filePath
                Move-Item -Path $tempFile -Destination $filePath
                npx patch-package expo-modules-core --include expo-modules-core/android/src/main/java/expo/modules/adapters/react/permissions/PermissionsService.kt

            - name: Create keystore file
              run: |
                  $b64 = "${{ secrets.KEY_STORE }}"
                  $filename = "./DoodleMoviesApp/android/Doodle.jks"
                  $bytes = [Convert]::FromBase64String($b64)
                  [IO.File]::WriteAllBytes($filename, $bytes)     
              # run: echo "${{ secrets.KEY_STORE }}" | base64 --decode > ./android/Doodle.jks

            - name: Create Keystore properties
              run: |
                  echo keyPassword=\${{ secrets.KEY_PASSWORD }} > ./DoodleMoviesApp/android/key.properties
                  echo storePassword=\${{ secrets.STORE_PASSWORD }} >> ./DoodleMoviesApp/android/key.properties
                  echo keyAlias=\${{ secrets.KEY_ALIAS }} >> ./DoodleMoviesApp/android/key.properties  
            
            - name: Build App file
              run: cd DoodleMoviesApp/android && ./gradlew assembleRelease

            - name: Rename APK file
              run: Rename-Item -Path "DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle-universal-v9.6.1.apk" -NewName "Doodle Movies-Universal-v9.6.1.apk"
            
            - name: Rename v7a APK file
              run: Rename-Item -Path "DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle-armeabi-v7a-v9.6.1.apk" -NewName "Doodle Movies-32bit-v9.6.1.apk"
            
            - name: Rename v8a APK file
              run: Rename-Item -Path "DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle-arm64-v8a-v9.6.1.apk" -NewName "Doodle Movies-64bit-v9.6.1.apk"
               
            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              with:
                name: Release
                path: |
                  DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle Movies-Universal-v9.6.1.apk
                  DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle Movies-32bit-v9.6.1.apk
                  DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle Movies-64bit-v9.6.1.apk
            - name: Create Release
              uses: ncipollo/release-action@v1
              with:
                artifacts: |
                  DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle Movies-Universal-v9.6.1.apk
                  DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle Movies-32bit-v9.6.1.apk
                  DoodleMoviesApp/android/app/build/outputs/apk/release/Doodle Movies-64bit-v9.6.1.apk
                tag: v9.6.1
                token: ${{secrets.SECRET_KEY}}
                prerelease: true
                allowUpdates: true
                omitBody: true
